@{
    ViewData["Title"] = "Home Page";
}
<div style="background-color:LavenderBlush;"></div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p></p>
    <img src="C:\Users\maure\Pictures\Saved Pictures\54-548307_lashlicious-eyelashes-images-cartoon-hd-png-download.png" class="w3-image" width="1250" height="500">

</div>
