@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="w3-padding-24 w3-text-black display-4">Welcome</h1>
    <p></p>
    <div>
    <img src="https://github.com/Maureenperez6/Lash/blob/main/images/lash.png?raw=true" class="w3-image" width="700" height="700">
    </div>
</div>
